<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <div class="ion-text-center" *ngIf="!isUploading && !isUploaded">


      <ion-item class="label_margin">
        <ion-label position="stacked">Title*</ion-label>
        <ion-textarea maxlength={{charsAllowedTitle}} id="title" clearInput placeholder="please enter service or kitchen name here"
          [(ngModel)]="name" (ionChange)="onTextChange('title')"></ion-textarea>
        <div class="usage-stats">
          {{charsUsedTitle}} / {{charsAllowedTitle}}
        </div>
      </ion-item>
      <p *ngIf="isTitleError" class="error_text" padding>{{titleError}}</p>

      <ion-item class="label_margin">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea maxlength={{charsAllowedDescription}} id="description" (ionChange)="onTextChange('description')"  clearInput
          placeholder="please enter description(menu, timings etc.) here" [(ngModel)]="description"></ion-textarea>
        <div class="usage-stats">
          {{charsUsedDescription}} / {{charsAllowedDescription}}
        </div>
      </ion-item>


      <ion-item-divider></ion-item-divider>

      <ion-row class="label_margin">
        <ion-col size="6">
          <ion-button [class.free]="isFree === true" [class.paid]="isFree === false" #free expand="block"
            (click)="setFree(true);">Free
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button [class.free]="isFree === false" [class.paid]="isFree === true" #paid expand="block"
            (click)="setFree(false);">Paid
          </ion-button>
        </ion-col>
      </ion-row>


      <ion-item *ngIf="!isFree" class="label_margin">
        <ion-label position="stacked">Cost per plate for tiffin service(₹)</ion-label>
        <ion-input type="number" clearInput placeholder="" [(ngModel)]="cost" (ionChange)="onTextChange('cost')">
        </ion-input>
      </ion-item>
      <p *ngIf="isCostError" class="error_text" padding>{{costError}}</p>


      <ion-item-divider></ion-item-divider>

      <div class="label_margin">Delivery Mode
        <ion-item>
          <ion-label>Takeaway</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="isTakeaway"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Home Delivery</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="isHomeDelivery"></ion-checkbox>
        </ion-item>
      </div>


      <ion-item-divider></ion-item-divider>

      <div class="label_margin">Meal Type
        <ion-row>
          <ion-col size="4">
            <ion-button [class.free]="mealType === 0" [class.paid]="mealType != 0" expand="block"
              (click)="setMealType(0);">Veg</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button [class.free]="mealType === 1" [class.paid]="mealType != 1" expand="block"
              (click)="setMealType(1);">Non veg</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button [class.free]="mealType === 2" [class.paid]="mealType != 2" expand="block"
              (click)="setMealType(2);">Both</ion-button>
          </ion-col>
        </ion-row>
      </div>


      <ion-item-divider></ion-item-divider>

      <div class="label_margin">Please select Meals to be served*

        <ion-item>
          <ion-label>Breakfast</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="isBreakfast"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Lunch</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="isLunch"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Dinner</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="isDinner"></ion-checkbox>
        </ion-item>
      </div>


      <ion-item-divider></ion-item-divider>


      <ion-row class="label_margin">


        <ion-col size=12>
          <ion-range min="0" max="100" step="2" snaps="true" pin="true" color="secondary" [(ngModel)]="distance">
          </ion-range>
        </ion-col>
        <ion-col size=12>
          <p>Maximum distance served - {{distance}} KM</p>
        </ion-col>
      </ion-row>


      <ion-item-divider></ion-item-divider>

      <ion-row class="ion-padding ion-align-items-center">
        <ion-col size="12">Attach Image(s) to upload</ion-col>
        <ion-col *ngIf="media" size="12">
          <ion-thumbnail>
            <img src="{{media}}">
          </ion-thumbnail>
        </ion-col>
        <ion-col size="12">
          <ion-button color="primary">
            <input id="myFile" type="file" (change)="selectImage($event.target.files)" multiple>
          </ion-button>
        </ion-col>
        <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
          <ion-item *ngFor="let image of images; let i=index">
            <ion-col size="8" class="ion-align-self-center">
              <ion-card>
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(image)">
              </ion-card>
            </ion-col>
            <ion-col size="2">
              <ion-button color="medium" (click)="removeImage(i)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>



            <ion-reorder slot="end">
            </ion-reorder>
          </ion-item>

        </ion-reorder-group>
        <ion-col size="12" *ngIf="isImageUpload">
          <div *ngIf="percentageVal | async as percentage">
            Progress: {{ percentage | number }}%
            <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
          </div>
        </ion-col>
        <ion-col size="12" *ngIf="isImageUpload">
          <div *ngIf="trackSnapshot | async as snap">
            File size: {{ snap.totalBytes | formatFileSize }}
            <span *ngIf="snap.bytesTransferred">
              Data transfered: {{ snap.bytesTransferred | formatFileSize }}
            </span>
          </div>
        </ion-col>


      </ion-row>


      <ion-row class="ion-align-self-end">
        <ion-col size="12">
          <ion-button color="secondary" expand="full" (click)="submit()">
            {{save_button_text}}
          </ion-button>
        </ion-col>



        <ion-col size="12">
          <ion-label color="danger">
            {{result}}
          </ion-label>
        </ion-col>
      </ion-row>


    </div>

  </div>
</ion-content>