.free{
  color: yellow;
     --background: red;
}

.paid{
  color: whitesmoke;
     --background: grey;
}



div.label_margin{
  color: #cc5500;
  font-size: 15px;
}

ion-col.my-thin-col {
    flex: 0 0 4px;
    padding:0;
    margin-right:10px;
  }



  .usage-stats{
    color: grey;
    font-size: small;
    text-align-last: right;

  }