<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style=" color:white;display:flex;text-align: center;">Signup or Login to your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4">
        <ion-row style="    border: solid 1px #ffae42;">
          <ion-col size='3'>
            <ion-input [(ngModel)]="code" placeholder="+91" [disabled]="true" type="tel" maxlength='4'></ion-input>
          </ion-col>
          <ion-col size='9'>
            <ion-input  [(ngModel)]="phone" placeholder="Enter your phone number here" type="tel" pattern="[0-9]+" maxlength='10'>
            </ion-input>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-button (click)="sendLoginCode()" expand="block" color="primary" style="margin: 30px;z-index:4;">
              <ion-icon name="chevron-forward" slot="end"></ion-icon>
              SEND CONFIRMATION CODE
            </ion-button>
          </ion-col>
        </ion-row>

        <p *ngIf="isError" class="error_text" padding>{{phoneError}}</p>

        <ion-row>
          <ion-col>
            <p style="font-size:14px;color:grey;text-align: center;">By tapping "Send confirmation code" above,
              <b><u>Trunear</u></b> will send you an SMS to confirm your phone number. Message & data rates may apply.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>