.location_text{
    font-size: 10px;
}

.modal-wrapper{
    position: absolute;
    width: 90vw;
    height: 50vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    }