<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
  <ion-row class="ion-justify-content-center"><ion-col size-md="6">
    <ion-searchbar animated debounce="500" (ionChange)="getItems($event)" ></ion-searchbar>
    </ion-col></ion-row>

  <ion-list>
    <ion-item class="center" *ngFor="let user of users">
      <ion-col size="12">   
        <ion-card>
                     
            <ion-row>
              <ion-col size-md="1">
                <ion-thumbnail>
                  <img src="{{user.photoUrl}}">
                </ion-thumbnail>
              </ion-col>
              <ion-col size-md="1" class="ion-align-self-center"><span>{{user.id}}</span></ion-col>
              <ion-col size-md="2" class="ion-align-self-center"><p>{{user.name}}</p></ion-col>
              <ion-col size-md="3" class="ion-align-self-center"><p>{{user.email}}</p></ion-col>
              <ion-col size-md="3" class="ion-align-self-center"><p>{{user.phone}}</p></ion-col>
              <ion-col size-md="1" class="ion-align-self-center">
                <ion-button>
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size-md="1" class="ion-align-self-center">
                <ion-toggle  (click)="presentAlertConfirm($event,user)" color="dark" [(ngModel)]="user.status"></ion-toggle>
              </ion-col>
            </ion-row>

        </ion-card>
</ion-col>
  </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  

  <!--  -->
</ion-content>