<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated></ion-searchbar>

  <ion-row class="ion-justify-content-center" *ngFor="let user of users">
    <ion-col size-md="6">
      <ion-card>
        <ion-card-content>
          <ion-row  >
            <ion-col size-md="2">
              <ion-thumbnail>
                <img src="{{user.photoUrl}}">
              </ion-thumbnail>
            </ion-col>
            <ion-col size-md="4" class="ion-align-self-center">{{user.uuid}}</ion-col>
            <ion-col size-md="2" class="ion-align-self-center">{{user.name}}</ion-col>
            <ion-col size-md="2" class="ion-align-self-center">{{user.email}}</ion-col>
            <ion-col size-md="2" class="ion-align-self-center">{{user.phone}}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>